*, *::before, *::after{

  box-sizing: border-box;
  font-family: Roboto , Arial, Helvetica, sans-serif;
}

body{

  margin: 0;
}
.video-sec{
  display :grid;
  grid-template-columns:repeat(auto-fill , MinMax(250px, 1fr));
  gap:3rem 1rem;
  padding: 3rem 0;
  margin:0 1.5rem;
  border-top:4px solid #CCC;

}

.video-sec:first-child{

  border-top: none;

}


.video-container{

  display: flex;
  flex-direction: column;
}

.thumbnail{
  position: relative;
  display: flex;
}

.thumbnail::before {
  content: attr(data-duration);
  position: absolute;
  background-color: rgba(0,0,0,.85);
  color: white;
  right: 5px;
  bottom: 5px;
  padding: .1em .3em;
  border-radius: .3em;
  font-size:.9rem;

}


.thumbnail-image{
  width: 100%;
  height: 100%;
  min-width: 250px;
  min-height: 150px;
  background-color: #aaa;
}

.chanel-icon{

  margin-right: .75rem;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #aaa;

}

.video-b-sec{

  display: flex;
  align-items: flex-start;
  border-radius: 50%;
  margin-top: 1rem;
  width: 36px;
  height: 36px;
  background-color: #aaa;
}



.video-title{
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5rem;
  text-decoration:none;
  color: black;
  white-space: nowrap;
  position: relative;
  transform: translateX(-50%);


}

.video-c-name{
  margin-bottom: .1rem;
  text-decoration: none ;
  transition : color 150ms;
}

.video-c-name:hover{
  color : #111;
}
.video-meta-data, .video-c-name{
  color : #555;
  position : relative;
  white-space: nowrap;
}

.special-sec-title{

  grid-column : 1/-1;
  margin: -.5rem 0;
  display: flex;
  justify-content:space-between;
  align-items : center;
  padding: 0, .5rem;


}
.special-sec-btn{
  border: none;
  padding: 0;
  background: none;
  font-size: 2rem;
  color:#555;
  cursor:pointer;
}

.videos{
  background-color: #f9f9f9;
}

.categories{
  padding : 1rem 2rem;
  border-top:1px solid #999;
  border-bottom:1px solid #999;
}

.category-sec{
  display: flex;
  overflow: hidden;
}

.category{

  margin-right: 1rem;
  word-wrap: none;
  white-space: nowrap;
  border: 1px solid #ccc;
  border-radius: 900px;
  background-color: #E7E7E7;
  padding : .5rem 1rem;
  font-size:inherit;
  cursor: pointer;
  transition: background-color 150ms;
}
.category:hover{
  background-color: #ddd;
}

.category.active{
  background-color: #606060;
  color: white;
  border-color: #eee;
}
.category:last-child{
  margin-right:0;
}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}



.youtube-logo{
  height: 30px;
}

.search_bar{
  flex-grow: 1;
  display: flex;
  margin: 0 2rem 0 4rem;
}
.search-input{
  white-space: nowrap;
  padding : 1.5rem;
  font-size: 1.5rem;
  border:1px solid #777;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
    
}

.form-btn{
  cursor:pointer;

}

.form-btn:hover{
  background-color:#f0f0f0;
}

.menu-icons{
  display :grid;
  align-items: center;
  gap: 1.5rem;
  grid-template-columns: repeat(5,auto);
}

.menu-c-icon{

  border-radius: 50%;
  width:36px;
  height:36px;
  background-color: #aaa;
}




